<nav class="navbar align-items-center border-bottom" [ngClass]="{'sticky-nav': isSticky}">
     <div class="container-fluid">
          <div class="d-flex align-items-center ">
               <a href="#" class="navbar-brand m-0 textColor fw-bold brand">DBond</a>
               <div id="verticalbar" class="mx-xxl-2 mx-1 d-none d-lg-inline-block"></div>
               <a href="#" class="nav-link textColor fw-lighter lh-sm brandSubHeading d-none d-lg-inline-block">Let's
                    <br>
                    <span class="fw-medium brandSubHeading d-none d-lg-inline-block">BOND!</span>
               </a>

               <div class="social-btns"><a class="btn facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a><a
                         class="btn twitter" href="#"><i class="fa-brands fa-twitter"></i></a><a class="btn tiktok"
                         href="#"><i class="fa-brands fa-tiktok"></i></a><a class="btn instagram" href="#"><i
                              class="fa-brands fa-instagram"></i></a><a class="btn whatsapp" href="#"><i
                              class="fa-brands fa-whatsapp"></i></a>
               </div>
          </div>

          <div class="d-flex align-items-center">
               <div class="d-none d-lg-block">
                    <ul class="d-flex m-0 list-unstyled ">
                         <li class="nav-item iconChange  me-4 pt-2">
                              <a href="#" class="nav-link text-center  p-0">
                                   <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                        <img class="one iconHeight mx-2" src="../../../assets/Images/home-light.svg"
                                             alt="Home">
                                        <img class="two iconHeight mx-2" src="../../../assets/Images/home-fill.svg"
                                             alt="Home-half">
                                   </div>
                                   <div class="smallFont textColor">Home</div>
                              </a>
                         </li>
                         <li class="nav-item iconChange   me-4 pt-2">
                              <a href="#" class="nav-link text-center p-0">
                                   <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                        <img class="iconHeight mx-2" src="../../../assets/Images/about-light.svg"
                                             alt="About">
                                        <img class=" iconHeight mx-2" src="../../../assets/Images/about-filled.svg"
                                             alt="About">
                                   </div>
                                   <div class="smallFont textColor">About</div>
                              </a>
                         </li>
                         <li class="nav-item iconChange  me-4 pt-2">
                              <a href="#" class="nav-link text-center p-0">
                                   <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                        <img class="iconHeight mx-2" src="../../../assets/Images/service-light.svg"
                                             alt="Services">
                                        <img class=" iconHeight mx-2" src="../../../assets/Images/service-fill.svg"
                                             alt="Services">
                                   </div>
                                   <div class="smallFont textColor">Services</div>
                              </a>
                         </li>
                         <li class="nav-item iconChange  me-4 pt-2">
                              <a href="#" class="nav-link text-center p-0">
                                   <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                        <img class="iconHeight mx-2" src="../../../assets/Images/carear-light.svg"
                                             alt="Career">
                                        <img class=" iconHeight mx-2" src="../../../assets/Images/carear-fill.svg"
                                             alt="Career">
                                   </div>
                                   <div class="smallFont textColor">Career</div>
                              </a>
                         </li>
                         <li class="nav-item iconChange  me-3 pt-2">
                              <a href="#" class="nav-link text-center p-0">
                                   <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                        <img class="iconHeight mx-2" src="../../../assets/Images/Connect_us-light.svg"
                                             alt="Connect_us">
                                        <img class=" iconHeight mx-2" src="../../../assets/Images/Connect_us-fill.svg"
                                             alt="Connect_us">
                                   </div>
                                   <div class="smallFont textColor">Connect Us</div>
                              </a>
                         </li>
                    </ul>
               </div>

               <!-- <button id="hostBtn" class="btn btn-sm m-sm-2 m-1 text-white a rounded-5 px-3 d-none d-lg-inline-block">
                    <img class="me-2 mb-1" src="/static_files/svgs2/megaphone.svg" alt="megaphone">
                    Post</button>
               <button id="loginBtn" class="btn btn-sm m-sm-2 m-1 bg-primary text-white rounded-5 px-sm-3 px-2">Login
                    <img class="d-none d-lg-inline-block" src="/static_files/svgs2/box-arrow-in-right.svg"
                         alt="box-arrow">
               </button> -->
               <img class="ms-2 grid-icon" src="../../../assets/Images/grid-3x3-gap-fill-svgrepo-com.svg"
                    alt="grid-3x3">
          </div>
     </div>
</nav>
<nav id="secondNav" class="bottom-0 position-fixed end-0 start-0">
     <div class="d-lg-none">
          <div class="container-fluid d-flex justify-content-between shadow pt-2">
               <a href="#" class="text-center text-decoration-none textColor">
                    <div class="mb-1">
                         <span class="bg-primary rounded-5 p-1 text-white">DB</span>
                    </div>
                    <div class="extraSmallFont active pb-1">Digital Bond</div>
               </a>
               <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="../../../assets/Images/home-fill.svg" alt="home">
                    <div class="extraSmallFont pb-1">Home</div>
               </a>
               <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="../../../assets/Images/service-fill.svg" alt="Services">
                    <div class="extraSmallFont pb-1">Services</div>
               </a>
               <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="../../../assets/Images/about-filled.svg" alt="about">
                    <div class="extraSmallFont pb-1">About</div>
               </a>
               <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="../../../assets/Images/carear-fill.svg" alt="Career">
                    <div class="extraSmallFont pb-1">Career</div>
               </a>
               <a href="#" class="text-decoration-none textColor  text-center">
                    <img class="iconHeight mb-1" src="../../../assets/Images/Connect_us-fill.svg" alt="briefcase">
                    <div class="extraSmallFont pb-1">Connect_us</div>
               </a>
          </div>
     </div>
</nav>