<section class="hero-section vh-100 pt-5">
     <div class="container">
          <div class="row align-items-center">
               <div class="col-lg-6">
                    <div class="animate__animated animate__fadeInLeftBig">
                         <h1>Welcome to Digital Bond</h1>
                    </div>
                    <p class="animate__animated animate__fadeInRight">
                         <span id="typed-description"></span>
                    </p>
               </div>

               <div class="col-lg-6 text-center">
                    <img src="../../../assets/Images/Logo_V2.gif" alt="Image Alt Text"
                         class="img-fluid animate__animated animate__fadeInBottomRight">
               </div>
          </div>
     </div>
</section>